@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-alpha{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.navbar-alpha h1{
  margin-right: 20px;
}

.inspect-data{
  background-color: #032851;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: 900;
  border-radius: 10%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.inspect-data:hover{
  opacity: 0.5;
}

.column1{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: #032851;
}

.column1 h1{
  font-size: 36px;
}

.logoImage{
  margin-left: 20px;
}

.heavy{
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 15px;
}

.asucd{
  margin-top: 0;
  margin-bottom: 0px;
}

.main-body{
  background-color: #032851;
  height: 100vh;
}

.image-choose{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
}

.curve-img{
  border-radius: 50%;
  height: 300px;
}

.curve-img:hover{
  opacity: 0.5;
}

.element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element h1{
  color: white;
  font-size: 26px;
  margin-top: 20px;
  font-weight: 900;
}

.add-header{
  font-weight: 900;
  font-size: 32px;
  color: white;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.category-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-icons img{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.items h1{
  margin-bottom: 0;
  margin-top: 0;
}

.items:hover{
  opacity: 0.5;
}

button{
  background-color: transparent;
  border: none;
}


.navbar-alpha1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #032851;
  align-items: center;
}

.main-body1{
  background-color: white;
  height: 100vh;
}

.navbar-alpha1 h1{
  margin-right: 20px;
  color: white;
} 

.inspect-data1{
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  color: #032851!important;
  font-weight: 900;
  border-radius: 10%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.inspect-data1:hover{
  opacity: 0.5;
}

table{
  display: block;
  width: 60%!important;
  margin-left: 18%;
  margin-right: 10%;
}

th{
  text-align: center!important;
  width: 10%!important;
  font-weight: 900!important;
  font-size: 20px!important;
}

td{
  text-align: center;
  width: 10%;
  font-size: 20px!important;
}

.model-choice-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.model-choice-row button{
  background-color: #032851;
  color: white;
  border-radius: 10%;
  margin-left: 20px;
  width: 100px;
}

.model-choice-row h1{
  margin-top: 5px;
  margin-bottom: 5px;
}

.model-choice-row button:hover{
  opacity: 0.5;
}

.bar-header{
  font-weight: 900;
  font-style: italic;
}

.charts{
  width: 90%;
  margin: auto;
}

.previous{
  color: white;
  font-size: 20px;
  border-radius: 10%;
}

.previous:hover{
  opacity: 0.5;
}

.checktable{
  height: 400px;
  overflow-y: scroll;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.button-category{
  width: inherit!important;
}